source_code/pico_ws/build/**
source_code/ros_ws_remote/src/ros_remote_gui/*.pyproject.*
source_code/ros_ws_remote/**/*.egg-info
source_code/ros_ws_remote/build
source_code/ros_ws_remote/install
source_code/ros_ws_remote/log
**/.idea
**/.venv
**/.venv-linux
**/__pycache__
cad_files/swxJRNL.swj
cad_files/Sliced
**/~$*.sldprt
**/~$*.sldasm
**/~$*.sldblk
**/~$*.SLDPRT
**/~$*.SLDASM
**/~$*.SLDBLK
**/desktop.ini